<a href="https://colab.research.google.com/github/sj2609/Introduction-to-Computational-Statistics-and-Statistical-Learning/blob/main/Class_2_intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction to Python

In [2]:
print('Welcome to Python') # This is a print statement. Double quotes and single quotes are kind of equivalent in python.

Welcome to Python

##Variables and expressions

In [13]:
a = 5
var1 = 10.0
str_var = "carrot" # ensure that the variable names start with alphabets

type(a)
type(var1)
type(str_var)
type(b)          # Python's float type functions as a double-precision floating-point number by default.

float

In [18]:
from os import X_OK
b1 = 1
b2 = 3
b3 = b1 / b2
b3
type(b3)

x_bar = "a"
type(x_bar)

str

In [20]:
y = var1 + a         # adding a int and float makes the result float
y

15.0

##Operators

In [80]:

q = b1 - b2
print(q)

p = b1 + b2
print(p,q,t)

t = b1 // b2         # quotient
k = b1 % b2          # modulo-remainder

print(k,p,q,t)
print("p=",p,"The value of q is",q)
print(f"p={p}")  # f strings

-2
4 -2 0
1 4 -2 0
p= 4 The value of q is -2
p=4

### Lists

In [51]:
lst1 = [1,2,3,4]                      # list of integers
lst2 = ["10",1,2,20.0,p]              # mixed list
                                    # can include saved variables as well
str_list = ["a","b"]
lst2 + lst1                           # '+' operator - adding two lists, appends or concatenates the second list to the first list creating a new list

['10', 1, 2, 20.0, 4, 1, 2, 3, 4]

In [49]:
# sum(lst2)                         # since different datatypes
# sum(str_list)                     # can only add float or int list

sum(lst1)
len(str_list)                       # length of the list

2

#### Exercise - Calculate the average score of the class

In [58]:
scores = [65,78,90,85]
avg_score = sum(scores)/len(scores)
avg_score

max(scores)                               # gives the maximum value of the list
min(scores)                               # gives the minimum value of the list

print(f"The average score of the class is {sum(scores)/len(scores)}, and the class highest is {max(scores)}")

The average score of the class is 79.5, and the class highest is 90

### Functions and if statements

In [69]:
def check_score(score):
  """
  This  is a multiline comment.
  This a function header.
  check_score is a function that takes the score checks whether the student has passed the exam, by checking if the score is above 40
  """
  if score >= 40:
    print("The student has passed")
  else:
    print("The student has not passed")
  return

check_score(39)
check_score(99)

for s in scores:
  print(f"s={s},")
  check_score(s)    # function call, it will go to the function and when it encounters a return, it will come back to this function

The student has not passed
The student has passed
s=65,
The student has passed
s=78,
The student has passed
s=90,
The student has passed
s=85,
The student has passed

#### Homework: Write a function to calculate grades and return the grade

In [71]:
def get_score(score):
  """
  This  is a multiline comment.
  This a function header.
  check_score is a function that takes the score checks whether the student has passed the exam, by checking if the score is above 40
  """
  if score >= 40  and score <= 50:
    return "E"
  elif score > 50 and score <= 60:
    return "D"
  elif score > 60 and score <= 100:
    return "A"
  return "U"


get_score(1)

'U'

### Getting help in python

In [77]:
sum?
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

### Dictionaries

In [87]:
names = ["Larry","Joel","Kelly","Alia"]
score_dictionary = {"Larry":scores[0], "Joel":scores[1], "Kelly":scores[2], "Alia":scores[3] }
score_dictionary
score_dictionary["Larry"]

print(score_dictionary.keys())
print(score_dictionary.values())

for key, score in zip(score_dictionary.keys(),score_dictionary.values()):
  print(key,score)

dict_keys(['Larry', 'Joel', 'Kelly', 'Alia'])
dict_values([65, 78, 90, 85])
Larry 65
Joel 78
Kelly 90
Alia 85

#### Homework:


*   Use this dictionary along with for loop to print the name and the socore of the student.

*   You can also try calculating the grade of each student inside the for block.

## NUMPY

In [96]:
import numpy as np
zeros_arr = np.zeros(10,dtype=int)
zeros_int_2D = np.zeros((10,10),dtype=int)
zeros_int_2D
# zeros_arr

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [104]:
arr1 = np.ones(10)
arr1

arr2 = np.array([1,2,3,4,5])
arr3 = np.array([6,7,8,9,10])
print(f"First array is {arr2}, and its type is {type(arr2)}")                   # It is no longer a simple list, it is a numpy add on
print(f"Second array is {arr3}, and its type is {type(arr3)}")

First array is [1 2 3 4 5], and its type is <class 'numpy.ndarray'>
Second array is [ 6  7  8  9 10], and its type is <class 'numpy.ndarray'>

### NUMPY array operations

In [113]:
add_arr = arr2 + arr3
add_arr                                                     # It does element-wise addition

sub_arr =  arr2 - arr3
sub_arr                                                     # It does element-wise subtraction and it is true for other operations as well

mul_arr = arr2 * arr3
mul_arr                                                     # It does element-wise multiplication

div_arr = arr2 / arr3
div_arr                                                     # It does element-wise division

array([0.16666667, 0.28571429, 0.375     , 0.44444444, 0.5       ])